$icon-font-path: '../fonts/';
@import "_variables.scss";
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss"; // endbower
@import "_bootswatch.scss";

$gray:#c8c8c8;

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.social-icon {
  font-size: 3em;
  color: $gray;
  padding: 10px;
  &:hover {
    color: white;
  }
}
.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.aligner-item {
  max-width: 50%;
}
.aligner-item--top {
  align-self: flex-start;
}
.aligner-item--bottom {
  align-self: flex-end;
  padding-bottom: 15px;
}
.left-container {
  background: url('../images/bg.jpg') no-repeat center center;
  min-height: 100vh;
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-container {
  min-height: 100vh;
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#greeting {
 // font-size: 2em;
}

#language {

}
