extends layouts/default
block content
  .container-fluid
    .row
      .main-container
        .col-xs-6.left-container
          a(href="#").social-icon.aligner-item--bottom.aligner-item
            span.fa.fa-facebook
          a(href="#").social-icon.aligner-item--bottom.aligner-item      
            span.fa.fa-instagram
          a(href="#").social-icon.aligner-item--bottom.aligner-item    
            span.fa.fa-twitter
          a(href="#").social-icon.aligner-item--bottom.aligner-item    
            span.fa.fa-envelope
              
        .col-xs-6.right-container
          h1#greeting
          h3
            | To my 
            span#language
            |  speaking friends
        
